body {
    background: rgb(87, 119, 113);
    width: 720px;
    margin: auto;
}

header {
    margin-top: 24px;
}

h1, h2 {
    color:cornsilk;
    font-family: fantasy;
}

p {
    font-size: 18px;
}

.section-div-img {
    margin-bottom: 16px;
    width: 300px;
}

.icon {
    width: 30px;
}

footer {
    margin-bottom: 24px;
}